@font-face {
	font-family: "Armata-Regular-webfont";
	src: url('../fonts/Armata-Regular-webfont.eot');
	src: url('../fonts/Armata-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Armata-Regular-webfont.woff') format('woff'), url('../fonts/Armata-Regular-webfont.ttf') format("truetype"), url('../fonts/Armata-Regular-webfont.svg#Armata-Regular-webfont') format('svg');
}
body {
	font-family: Armata-Regular-webfont;
}
.navbar {
	margin-top: 0.625em;
}
.navbar-brand {
	padding: 1px 15px;
}
label.error {
	font-weight: normal;
	width: 100%;
	padding-top: 0.5em;
	text-align: right;
	color:#ec3002;
}
.carousel-caption {
	height:8.750em;
	background:url('../images/bg_bg.png') repeat-x;
	position: relative;
	left: 0;
	right: 0;
	bottom: 20px;
	padding:0.625em 0 1.25em 0.625em;
	text-align: left;
}
.carousel-indicators {
	position: absolute;
	bottom: 0.625em;
	right: 5%;
}
.carousel-indicators .active {
	margin: 0;
	width: 0.750em;
	height: 0.750em;
	background-color: #000;
}
.carousel-indicators li {
	border: none;
	background-color: #fff;
}
.list-unstyled .list-unstyled {
	padding-left: 1.5em;
}
.card{
margin-bottom:1em;	
}
.panel_bg{
background-color:#f9f5f5;	
}
.placeholder { color: #aaa; }
@media(min-width:768px) {
.desk_right {
	float: right;
}
}
@media(max-width:767px) {
.btn-block_mob {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
#sel_nav{
padding-top:1.25em;	
}
}
