@font-face {
	font-family: "Armata-Regular-webfont";
	src: url('../fonts/Armata-Regular-webfont.eot');
	src: url('../fonts/Armata-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Armata-Regular-webfont.woff') format('woff'), url('../fonts/Armata-Regular-webfont.ttf') format("truetype"), url('../fonts/Armata-Regular-webfont.svg#Armata-Regular-webfont') format('svg');
}
body {
	font-family: Armata-Regular-webfont;
}
.navbar {
	margin-top: 0.625em;
}
.navbar-brand {
	padding: 1px 15px;
}
label.error {
	font-weight: normal;
width: 100%;
padding-top: 0.5em;
text-align: right;
}
/*label.error:after{
clear:both;
content: " ";
display: table;	
}*/
.carousel-caption {
		background:#6C3;
position: relative;
left: 0;
right: 0;
bottom: 20px;
z-index: 10;
padding-top: 0;
padding-bottom: 20px;
color: #333;
text-align: left;
}
.carousel-indicators {
position: absolute;
bottom: 10px;
left: 85%;
right: 0;
z-index: 15;
}
.carousel-indicators .active {
margin: 0;
width: 12px;
height: 12px;
background-color: #000;
}
.carousel-indicators li{
border:none;	
background-color: #fff;
}
.list-unstyled .list-unstyled{
padding-left:1.5em;	
}
/*
.carousel-caption {
	background:#6C3;
position: relative;
left: 0;
right: 0;
bottom: 20px;
z-index: 10;
padding-top: 0;
padding-bottom: 0;
color: #fff;
text-align: left;
}
*/
@media(min-width:768px){
.desk_right{
float:right;	
}	
}
@media(max-width:767px){
.btn-block_mob {
 display: block; 
 width: 100%; 
 padding-left: 0;
padding-right: 0; 
}	
}